@import url ('https://fonts.googleapis.com/css?family=Roboto&display=swap');

@import url ('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet');


body {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #2B7A78
}

.topnav a {
  float: left;
  color: #DEF2F1;
  text-align: center;
  padding: 12px 14px;
  text-decoration: none;
  font-size: 18px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav-right {
  float: right;
}


/*

nav {
    display: flex;

}

nav ul {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Roboto', sans-serif;
    padding-left: 0;
    text-transform: uppercase;
    font-size: 1.2em;
}

header nav ul li {
    display: block;
    padding: 0.4em;
    border: 1px solid #6393A6;
    letter-spacing: 0.15em;
}


nav ul li a {
    text-decoration: none;
    color: #6393A6;
}

.section {
    padding: 0px;
    border: 2px;
    border-color: #DEF2F1;
    clear: both;

}

.col {
    display: block;
    float: center;
    margin: 1% 0 1% 1.6%;
}

.col:first-child {
    margin-left: 0;
}



.span_3 {
    width: 32.2%;
}

.span_2 {
    width: 32.2%;
}

.span_1 {
    width: 32.2%;
}

.span_4 {
    width: 32.2%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: 'Noto Sans', sans-serif;
    color: #17252A;
}



@media only screen and (max-width: 480px) {
    .col {
        margin: 1% 0 1% 0%;
    }

    .span_3,
    .span_2,
    .span_1 {
        width: 100%;
    }
}
